extends layout

block content
  script(src = '/javascripts/assign.js')
  h1 #{title}
  h3 Click on the rec period to assign

  // The rec block buttons
  - for(var i = 0; i < recBlocks.length; i++)
    span.button.recBlock(id= recBlocks[i]) #{recBlocks[i]}

  // The cabin buttons
  - for(var i = 0; i < cabins.length; i++)
    span.button.cabin(id= cabins[i]) #{cabins[i]}

  // The camper buttons
  - for(cabin in campers)
    - for(var i = 0; i < campers[cabin].length; i++)
      span.button.camper(class= cabin) #{campers[cabin][i]}

  // The rec buttons
  - for(recBlock in recs)
   - for(var i = 0; i < recs[recBlock].length; i++)
     span.button.rec(class= recBlock, id=recs[recBlock][i].replace(' ','-')) #{recs[recBlock][i]}
