extends layout

block content
  script(src = '/javascripts/assign.js')
  h1 #{title}
  h3 Click on the rec period to assign

  #buttons

  // Invisible divs for holding data sent from the server
  #weekNumber.invisible=weekNum
  #useCached.invisible=useCached
  #recBlocks.invisible=JSON.stringify(recBlocks)
  #cabins.invisible=JSON.stringify(cabins)
  #campers.invisible=JSON.stringify(campers)
  #recs.invisible=JSON.stringify(recs)
