extends setupLayout

block setup_content
  script(src='/javascripts/removeCamper.js')
  script(src='/javascripts/updateLocalStorageSetup.js')

  h1=title

  #remove
    form(name='removeCamper', action='/setup/removingCamper', method='POST', id='removeCamperForm')
      label(for='cabin') Select Cabin:
      select(name='cabin', id='cabinID')
        each list, cabin in campersByCabin
          option(value=cabin.replace(' ', '-')) #{cabin}

      br
      label(for='camper') Select Camper:
      //- Populate the list with the first cabin's campers
      select(name='camper', id='camperID')
        - var keepGoing = true
        each list, cabin in campersByCabin
          if keepGoing
            each camper in list
              option(value=camper) #{camper}
            - keepGoing = false

    .button#submit Remove


  // invisible div for holding campersByCabin
  #campersByCabin.invisible= JSON.stringify(campersByCabin)
